:root {
    /* Cores Primárias */
    --primary-bright-red: #f25f3a; /* hsl(12, 88%, 59%) */
    --primary-dark-blue: #242d52; /* hsl(228, 39%, 23%) */

    /* Cores Neutras */
    --neutral-dark-grayish-blue: #9095a7; /* hsl(227, 12%, 61%) */
    --neutral-very-dark-blue: #1d1e25; /* hsl(233, 12%, 13%) */
    --neutral-very-pale-red: #ffefeb; /* hsl(13, 100%, 96%) */
    --neutral-very-light-gray: #fafafa; /* hsl(0, 0%, 98%) */

    /* Tipografia */
    --font-size-body: 16px;
    --font-family: 'Be Vietnam Pro', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 1.6;
    color: var(--neutral-very-dark-blue);
    background-color: var(--neutral-very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
}

/* Estilos do Header */
.header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.75rem;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo img {
    max-width: 150px;
    margin-top: 5px;
}

/* Menu de Navegação */
.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: var(--font-weight-bold);
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #f25f3a;
}

/* Botão */
.cta-button .btn {
    background-color: #f25f3a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cta-button .btn:hover {
    background-color: #e64a2e;
}

/* Responsividade do Header */
@media (max-width: 970px) {
    .header {
        width: 100%;
        margin: auto;
        flex-direction: column;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .cta-button {
        margin-top: 15px;
    }
}

/* Banner */
.banner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.banner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.banner-text {
    text-align: center;
}

.banner-text h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-dark-blue);
    font-weight: var(--font-weight-bold);
}

.banner-text p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
}

.banner-text .btn {
    background-color: var(--primary-bright-red);
    color: white;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner-text .btn:hover {
    background-color: #3b3054;
}

.banner-greeting__img {
    max-width: 100%;
    height: auto;
}

/* Responsividade do Banner */
@media (max-width: 768px) {
    .banner-content {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .banner-text {
        text-align: center;
        max-width: 100%;
    }

    .banner-text h1 {
        font-size: 1.8rem;
        font-weight: var(--font-weight-bold);
    }

    .banner-text p {
        font-size: 1.1rem;
    }

    .banner-greeting {
        max-width: 50%;
    }
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1.5rem;
    padding: 1.5rem;
    max-width: 1200px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Centraliza o grid */
}

/* Estilos gerais para os blocos */
.block {
    border: 1px solid var(--neutral-very-pale-red);
    padding: 1.5rem;
    border-radius: 8px;
    /* background-color: var(--neutral-very-light-gray); */
}

.block.col-1{
    border: 1px solid var(--neutral-very-pale-red);
    padding: 1.5rem;
    border-radius: 8px;
    /* background-color: var(--neutral-very-light-gray); */
    max-height: 24em;
}

.block h2 {
    font-size: 1.5rem;
    color: var(--primary-dark-blue);
    margin-bottom: 1rem;
    font-weight: var(--font-weight-bold);
}

/* Estilo específico para o título com a classe .block.title */
h2.block.title {
    font-size: 2rem;
    color: var(--primary-dark-blue);
}

.block p {
    font-size: 18px;
    line-height: 1;
    color: var(--primary-dark-blue);
}

/* Estilo para o <span> dentro de <h2> nos blocos .col-2 */
.block.col-2 h2 span {
    display: inline-block; /* Permite aplicar padding e margin */
    background-color: var(--primary-bright-red); /* Cor laranja */
    color: white; /* Cor do texto */
    font-size: 0.9rem; /* Tamanho da fonte */
    font-weight: var(--font-weight-bold); /* Fonte em negrito */
    padding: 0.5rem 0.75rem; /* Espaçamento interno */
    border-radius: 25px; /* Bordas arredondadas */
    margin-right: 0.75rem; /* Espaçamento entre o span e o texto */
    vertical-align: middle; /* Alinha verticalmente com o texto */
}

/* Estilo para o <h2> nos blocos .col-2 */
.block.col-2 h2 {
    font-size: 1.25rem; /* Tamanho da fonte do título */
    color: var(--primary-dark-blue); /* Cor do texto */
    margin-bottom: 1rem; /* Espaçamento inferior */
    display: flex; /* Alinha o span e o texto horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Estilo para o <p> nos blocos .col-2 */
.block.col-2 p {
    font-size: 0.76rem; /* Tamanho da fonte do parágrafo */
    color: var(--neutral-dark-grayish-blue); /* Cor do texto */
    line-height: 1.5; /* Altura da linha */
}

/* Estilos para as colunas */
.col-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.col-2 {
    grid-column: 2 / 3;
}

/* Responsividade do Grid */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .col-1 {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .col-2 {
        grid-column: 1 / 2;
    }
}

/* Estilos da Seção */
.team-section {
    text-align: center; /* Centraliza o conteúdo */
    padding: 2rem;
    background-color: var(--neutral-very-light-gray); /* Cor de fundo */
}

/* Título da Seção */
.section-title {
    font-size: 2rem;
    color: var(--primary-dark-blue);
    margin-bottom: 2rem;
    font-weight: var(--font-weight-bold);
}

/* Container dos Cards */
.cards-container {
    display: flex;
    justify-content: center; /* Centraliza os cards horizontalmente */
    gap: 2rem; /* Espaçamento entre os cards */
    flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha em telas menores */
}

/* Estilo do Card */
.card {
    background-color: white;
    border: 1px solid var(--neutral-very-pale-red);
    border-radius: 8px;
    padding: 1rem;
    width: 30em; /* Largura fixa para cada card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Efeito de levantar ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

/* Imagem de Perfil */
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Formato redondo */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    margin-bottom: 1rem;
}

/* Nome do Perfil */
.profile-name {
    font-size: 1.25rem;
    color: var(--primary-dark-blue);
    margin-bottom: 0.5rem;
    font-weight: var(--font-weight-bold);
}

/* Descrição do Perfil */
.profile-description {
    font-size: 0.9rem;
    color: var(--neutral-dark-grayish-blue);
    line-height: 1.5;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column; /* Empilha os cards verticalmente em telas menores */
        align-items: center; /* Centraliza os cards */
    }

    .card {
        width: 100%; /* Ocupa a largura total em telas menores */
        max-width: 100%; /* Limita a largura máxima */
    }
}

.pre-foot {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    width: 100%;
    height: 8rem;
    border-radius: 8px 8px 0 0;
    background-color: var(--primary-bright-red);
    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-size: cover;
}

.pre-foot-text {
    color: var(--neutral-very-pale-red);
    font-weight: var(--font-weight-bold);
    font-size: 32px;
    font-family: var(--font-family);
}

.pre-foot-btn-text {
    color: var(--primary-dark-blue);
    background-color: var(--neutral-very-light-gray);
    padding: 0.65rem;
    border: none;
    border-radius: 18px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    margin: 1rem;
}

.pre-foot-btn-text:hover {
    color: var(--primary-bright-red);
    background-color: var(--neutral-very-pale-red);
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
}


@media (max-width: 768px) {
    .pre-foot {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .pre-foot-text {
        margin: 1rem auto;
        padding: 1rem;
        color: var(--neutral-very-pale-red);
        font-weight: var(--font-weight-bold);
        font-size: 32px;

    } 
    }

    .footer-section {
        width: 100%;
        max-width: 1200px;
        font-weight: var(--font-weight-bold);
        font-family: 3rem;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form button {
        width: 100%;
    }



/* Estilos Gerais do Footer */
.footer {
    background-color: var(--primary-dark-blue);
    color: var(--neutral-very-light-gray);
    padding: 2rem 1rem;
    font-family: var(--font-family);
    box-sizing: border-box;
    max-width: 1200px;
    border-radius: 0 0 8px 8px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin-bottom: 1.5rem;
}

/* Logo e Redes Sociais */
.logo img {
    max-width: 150px;
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover img {
    opacity: 0.7;
}

/* Títulos das Seções */
.footer-title {
    font-size: 1.25rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
    color: var(--neutral-very-light-gray);
}

/* Links Úteis */
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 0.75rem;
}

.footer-links a {
    color: var(--neutral-very-light-gray);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--primary-bright-red);
}

/* Contato */
.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact li {
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-contact i {
    color: var(--primary-bright-red);
    width: 16px;
    text-align: center;
}

/* Newsletter */
.newsletter-form {
    display: flex;
    gap: 0.5rem;
}

.newsletter-form input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid var(--neutral-very-pale-red);
    border-radius: 4px;
    background-color: transparent;
    color: var(--neutral-very-light-gray);
    box-sizing: border-box;
}

.newsletter-form input::placeholder {
    color: var(--neutral-dark-grayish-blue);
}

.newsletter-form button {
    padding: 0.5rem 1rem;
    background-color: var(--primary-bright-red);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.newsletter-form button:hover {
    background-color: #e64a2e;
}

/* Footer Bottom (Direitos Autorais) */
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--neutral-very-pale-red);
    color: var(--neutral-very-light-gray);
    box-sizing: border-box;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        width: 100%;
        /* max-width: 300px; */
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form button {
        width: 100%;
    }
}